body {
 font: 14px/1.4 Georgia,serif;
 }

page-wrap {
 margin: 50px;
 }

p {
 margin: 20px 0px;
 }

table {
 width: 100%;
 border-collapse: collapse;
 }

tr:nth-of-type(2n+1) {
 background: rgb(238, 238, 238) none repeat scroll 0% 0%;
 }

th {
 background: rgb(51, 51, 51) none no-repeat scroll 3% center;
 color: white;
 font-weight: bold;
 cursor: s-resize;
 }

th {
 padding: 6px;
 border: 1px solid rgb(204, 204, 204);
 text-align: left;
 }

des::after {
 content: "?";
 }

aes::after {
 content: "?";
 }