.custom-vis-layout.d3waterfall .bar:hover {
    fill: brown;
}
.custom-vis-layout.d3waterfall .waterfall  {
    margin-left: 1px;

}

.custom-vis-layout.d3waterfall .waterfall text {
    font: 11px arial;
    text-anchor: left;
	fill: #777;
}

.custom-vis-layout.d3waterfall .containerY  {
    margin-left: 10px;

}


.custom-vis-layout.d3waterfall .containerY text {
    font: 11px arial;
    text-anchor: left;
	fill: #777;
}



.custom-vis-layout.d3waterfall .axis text {
    font: 11px sans-serif;
}

.custom-vis-layout.d3waterfall  .axis path,
.custom-vis-layout.d3waterfall .axis line {
    display: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.custom-vis-layout.d3waterfall .x.axis text {
    font-weight: bold;
}

.custom-vis-layout.d3waterfall .y.axis text {
    font-weight: bold;
}

.custom-vis-layout.d3waterfall .x.axis path {
    display: none;
}

.custom-vis-layout.d3waterfall .y.axis path {
    display: inline;
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; 
}

.custom-vis-layout.d3waterfall .x.axis.attributes.continuous path {
    display: inline;
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; 
}

.custom-vis-layout.d3waterfall .x.axis.attributes path {
    display: none;
}

.custom-vis-layout.d3waterfall .x.axis line {
    display: none;
}

.custom-vis-layout.d3waterfall .tick line {
	display: inline;
    stroke: #ddd;
    opacity: 0.9;

}