.bar--positive {
  fill: rgb(140,180,0);
}

.bar--negative {
  fill: rgb(255,0,0);
}

.axis text {
  font: 10px sans-serif;
}

/*
.axis path,
.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}*/

.y1.axis line,
.y2.axis text,
.y1.axis path{
	display:none;
}

.y2.axis line{
	display: inline;
	stroke: #000;
	shape-rendering: crispEdges;
}

#RwMenuModel_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuLayoutxml   #mnuInsertWgverticalD3BarChart {
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}

#RwMenuModelEditor_WEB-INFxmllayoutsblocksInsertDHTMLWidgetMenuEditorLayoutxml #mnuInsertWgverticalD3BarChart {
    background:url(images/defaultimage_RWD.png) no-repeat scroll 4px;
    padding: 3px 0pt 3px 14px;
}