.custom-vis-layout.d3waterfall .bar:hover {
    fill: white;
}

.custom-vis-layout.d3waterfall .waterfall  {
    margin-left: 1px;

}

.custom-vis-layout.d3waterfall .waterfall text {
    font: 11px sans-serif;
    text-anchor: left;
	fill: #000;
	opacity: 0.8;
}

.custom-vis-layout.d3waterfall .containerY  {
    margin-left: 10px;

}

.custom-vis-layout.d3waterfall .containerY text {
    font: 11px sans-serif;
    text-anchor: left;
	fill: #000;
}

.custom-vis-layout.d3waterfall .axis text {
    font: 11px sans-serif;
}

.custom-vis-layout.d3waterfall  .axis path,
.custom-vis-layout.d3waterfall .y.axis path,
.custom-vis-layout.d3waterfall .x.axis line,
.custom-vis-layout.d3waterfall .x.axis.attributes path,
.custom-vis-layout.d3waterfall .axis line {
    display: none;
}

.custom-vis-layout.d3waterfall .x.axis.attributes.continuous path {
    display: inline;
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; 
}

.custom-vis-layout.d3waterfall .tick line {
	display: inline;
    stroke: #ddd;
    opacity: 0.9;
}